/* ====== GLOBAL STYLE START==== */

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  min-width: 375px;
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Crete Round", "Poppins", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--white);
}

/* ====== GLOBAL STYLE END==== */

/* ====== GLOBAL VARIABLES START==== */

:root {
  --primary-color: #ff6b00;
  --black: #1c1a19;
  --white: #ffffff;
  --light-yellow: #fff5e1;
  --light-grey: #dbd8d7;
}
/* ====== GLOBAL VARIABLES END==== */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #3c3a39;
  padding: 1.5em 1em;
}

header .my-logo {
  font-size: 1rem;
  font-weight: 700;
}

header .nav-icon:hover {
  transform: scale(1.3);
}
