/* ====== GLOBAL STYLE START ==== */

:root {
  --primary-color: #fecd42;
  --black: #272a31;
  --white: #fff;
  --light-grey: #dbd8d7;
}

.home {
  position: relative;
}

/* ====== GLOBAL VARIABLES END ==== */

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--white);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
small {
  padding: 0;
  margin: 0;
}

h1,
h2 {
  font-size: 3rem;
  font-weight: 900;
}

h4 {
  font-size: 2rem;
  font-weight: 900;
}

.outline {
  border-bottom: solid 2px red;
  width: 10%;
  padding: 1em;
}

.btn-scale {
  cursor: pointer;
}

.btn-scale:hover {
  transform: scale(1.3);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

figure {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0.75em;
  font-size: 1.15rem;
  font-weight: 700;
  color: var(--white);
  background-color: var(--primary-color);
  margin-top: 1em;
  transition: 0.3s all ease-in-out;
  border: none;
}

button:hover {
  background: var(--light-yellow);
  color: var(--primary-color);
  border: solid 1px var(--primary-color);
  transform: scale(1.2);
  transition: 0.3s all ease-in-out;
}

/* ====== GLOBAL STYLE END ==== */

/* ====== GLOBAL VARIABLES START ==== */

/* ====== HEADER START ==== */

header {
  background: var(--primary-color);
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 1em;
  margin: 0 auto;
  position: relative;
}

header .my-logo {
  font-size: 1rem;
  font-weight: 700;
  color: var(--white);
}

.my-logo img {
  width: 15%;
}

.nav-icon {
  color: var(--black);
  font-size: 2rem;
}

.close-navbar {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100vw;
  padding: 2em 1em;
  height: 100vh;
  left: 800px;
  top: 0;
  background: var(--black);
  align-items: end;
  transition: all 1s ease-in-out;
  z-index: 5;
}

.open-navbar {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100vw;
  padding: 2em 1em;
  height: 100%;
  left: 0;
  top: 0;
  background: #3c3a39;
  align-items: end;
  transition: all 1s ease-in-out;
  z-index: 7;
}

.nav-items {
  width: 100%;
}

.nav-list {
  color: var(--white);
  padding: 0.75em 1em;
  font-weight: 700;
  font-size: 2rem;
  border-bottom: 1px solid var(--light-grey);
  margin-bottom: 1em;
}

@media screen and (min-width: 800px) {
  nav {
    width: 80%;
    padding: 0;
  }

  .close-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    background: transparent;
    height: auto;
    width: 60%;
    top: 0;
    left: 0;
    padding: 1em;
  }

  .nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .nav-icon,
  .close {
    display: none;
  }

  .nav-list {
    color: var(--black);
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 0;
    border-bottom: 0 solid var(--light-grey);
  }

  .nav-list:last-child {
    display: inherit;
  }
}

/* ====== HEADER END ==== */

/* ====== HERO SECTION START ==== */

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background:
    var(--black) url("../images/heroBg.jpeg") no-repeat center
    center;
  background-size: cover;
  background-blend-mode: overlay;
  padding: 7em 0;
}

.hero h1 {
  color: var(--primary-color);
}

.hero h3 {
  color: var(--primary-color);
  font-weight: 900;
}

@media screen and (min-width: 768px) {
  .hero {
    flex-direction: row;
    background:
      var(--black) url("../images/heroBg.jpeg") no-repeat center
      right;
    background-size: cover;
    background-blend-mode: overlay;
    padding: 7em 2em;
  }

  .hero-contents {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .hero h1 {
    font-size: 5rem;
  }
}

/* ====== HERO SECTION END ==== */

/* ====== WORK SECTION START ==== */

#Programs {
  color: var(--black);
  padding: 7em 0;
}

.Cards {
  width: 100%;
  margin-bottom: 1em;
  border-radius: 14px;
  background: var(--black);
  color: var(--white);
}

.Cards h3 {
  color: var(--primary-color);
}

.Cards .bi {
  color: var(--primary-color);
  font-size: 2rem;
}

.Cards:hover {
  background: var(--primary-color) !important;
  color: var(--black);
}

.Cards:hover h3,
.Cards:hover .bi {
  color: var(--black);
}

@media screen and (min-width: 900px) {
  #Programs .Cards {
    width: 19%;
  }
}

/* ====== WORK SECTION END ==== */

/* ====== SPEAKER SECTION START ==== */

.speakerContainer {
  background:
    var(--light-grey) url("../images/programBg.jpeg") no-repeat center
    center;
  background-size: cover;
  background-blend-mode: overlay;
  padding: 7em 0;
  color: var(--black);
}

.speakerCard {
  border-radius: 12px;
  margin-top: 1em;
}

hr {
  margin: 0.4em 0;
}

.speakerCard:hover {
  border-radius: 12px;
  background: var(--primary-color);
  margin-top: 1em;
  box-shadow: 2px 30px 20px rgba(0, 0, 0, 0.19);
}

.speakerCard .title {
  font-size: 1.5rem;
  font-weight: 900;
}

.speakerCard .topic {
  border-radius: 12px;
  font-weight: 500;
}

.partnersContainer {
  padding: 7em 0;
  background: #272a31;
}

.partnersContainer .partnerLogo .bi {
  background: #303238;
  color: var(--light-grey);
  padding: 1em;
  margin: 0.3em;
  font-size: 2rem;
  border-radius: 12px;
}

/* ====== SPEAKER SECTION END ==== */

.active {
  color: #f00;
}

.aboutHero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background:
    var(--black) url("../images/aboutBg.avif") no-repeat center
    center;
  background-size: cover;
  background-blend-mode: overlay;
  padding: 7em 0;
}

.aboutHero h1 {
  color: var(--primary-color);
}

.aboutHero-contents p {
  background: #fff;
  padding: 1em 2em;
  color: var(--black);
}

@media screen and (min-width: 768px) {
  .aboutHero {
    flex-direction: column;
    background:
      var(--black) url("../images/heroBg.jpeg") no-repeat center
      right;
    background-size: cover;
    background-blend-mode: overlay;
    padding: 7em 2em;
  }

  .aboutHero h1 {
    font-size: 5rem;
  }
}

.logoSection {
  color: var(--black);
  padding: 7em 2em;
}

.pastEvent {
  color: var(--black);
  padding: 7em 2em;
}

.pastEvent article img {
  width: 100%;
}

@media screen and (min-width: 800px) {
  .pastEvent article img {
    width: 49%;
  }
}
